# On dependencies update, run pip-compile to regenerate requirements.txt
-e .

# app requirements
jinja2
openpyxl
pyyaml

# type stubs
types-openpyxl

# dev requirements
pip-tools
pytest
pytest-cov
black
ruff
mypy